@charset "UTF-8";
@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Bold.eot");
  src: local("☺"), url("../fonts/Lato-Bold.woff") format("woff"), url("../fonts/Lato-Bold.ttf") format("truetype"), url("../fonts/Lato-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-ExtraBold.eot");
  src: local("☺"), url("../fonts/Lato-ExtraBold.woff") format("woff"), url("../fonts/Lato-ExtraBold.ttf") format("truetype"), url("../fonts/Lato-ExtraBold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular.eot");
  src: local("☺"), url("../fonts/Lato-Regular.woff") format("woff"), url("../fonts/Lato-Regular.ttf") format("truetype"), url("../fonts/Lato-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-SemiBold.eot");
  src: local("☺"), url("../fonts/Lato-SemiBold.woff") format("woff"), url("../fonts/Lato-SemiBold.ttf") format("truetype"), url("../fonts/Lato-SemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url("../fonts/ralewayextrabold.eot");
  src: local("☺"), url("../fonts/ralewayextrabold.woff") format("woff"), url("../fonts/ralewayextrabold.ttf") format("truetype"), url("../fonts/ralewayextrabold.svg") format("svg");
  font-weight: 800;
  font-style: normal;
}

.header-slider__row, .header-slider__buttons-row, .order__row, .footer__row {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}

.header-slider__column, .header-slider__buttons-col, .order__col, .footer__column {
  padding: 0 15px;
  width: 50%;
}

a {
  transition-duration: 0.3s;
}

body {
  font-family: 'Lato', sans-serif;
  color: #323232;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #fff;
}

#page {
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0px auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: none;
  }
}

.header-slider {
  min-height: 850px;
  overflow: hidden;
  position: relative;
  margin-top: -100px;
  color: #000;
}

@media (max-width: 1200px) {
  .header-slider {
    min-height: 800px;
  }
}

@media (max-width: 992px) {
  .header-slider {
    min-height: 754px;
  }
}

@media (max-width: 768px) {
  .header-slider {
    min-height: auto;
  }
}

.header-slider__column {
  width: 100%;
  padding: 200px 15px 100px;
}

@media (max-width: 768px) {
  .header-slider__column {
    padding-top: 175px;
  }
}

.header-slider__title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.header-slider__title span {
  color: #3E9CDC;
}

@media (max-width: 992px) {
  .header-slider__title {
    font-size: 38px;
    line-height: 44px;
  }
}

@media (max-width: 768px) {
  .header-slider__title {
    margin-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .header-slider__title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 40px;
  }
}

.header-slider__subtitle p {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 10px 0px;
}

.header-slider__list {
  margin-bottom: 80px;
}

.list__item {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 5px;
}

.list__item:before {
  content: '-';
  display: inline-block;
  width: 5px;
  margin: 0 15px;
}

@media (max-width: 465px) {
  .list__item {
    font-size: 18px;
  }
}

.header-slider__buttons-row {
  width: 426px;
}

@media (max-width: 576px) {
  .header-slider__buttons-row {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 576px) {
  .header-slider__buttons-col {
    margin-bottom: 15px;
    min-width: 183px;
  }
}

.button {
  transition-duration: 0.2s;
}

.button a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 10px;
  width: 100%;
  height: 43px;
  background: #3E9CDC;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  transition-duration: 0.3s;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
}

.button.button_more a {
  background: #FFFFFF;
  border: 1px solid #6F6D7B;
  color: #2A2B30;
}

.button:hover, .button:focus {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.head-slider__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top: 0;
  z-index: -1;
}

.main {
  background: url("../images/form_bg.png") no-repeat center;
  background-color: #272733;
}

.order__wrap {
  text-align: center;
  padding: 120px 15px 150px;
}

@media (max-width: 1110px) {
  .order__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.order__title {
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.order__title span {
  color: #3E9CDC;
}

@media (max-width: 576px) {
  .order__title {
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 15px;
  }
}

.order__reviews {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #BBBBBB;
  margin-bottom: 80px;
}

@media (max-width: 576px) {
  .order__reviews {
    font-size: 16px;
    margin-bottom: 40px;
  }
}

.order__row {
  margin-bottom: 80px;
  justify-content: center;
}

@media (max-width: 1110px) {
  .order__row {
    max-width: 800px;
  }
}

@media (max-width: 830px) {
  .order__row {
    max-width: 550px;
  }
}

@media (max-width: 576px) {
  .order__row {
    max-width: 450px;
  }
}

@media (max-width: 475px) {
  .order__row {
    max-width: 300px;
  }
}

.order__col {
  position: relative;
  width: 20%;
}

.order__col::after {
  position: absolute;
  z-index: 0;
  display: block;
  width: 100%;
  height: 27px;
  top: 35px;
  left: 0%;
  content: '';
  background: url("../images/Ellipse.png");
  background-repeat: repeat-x;
  background-position: 43% 0%;
}

.order__col:first-child::after {
  width: 50%;
  left: 48%;
}

.order__col:last-child::after {
  width: 50%;
  left: -3%;
}

@media (max-width: 1110px) {
  .order__col {
    width: 33.333%;
    margin-bottom: 30px;
  }
  .order__col::after {
    background-position: 50% 0%;
  }
}

@media (max-width: 830px) {
  .order__col::after {
    background-position: -13% 0%;
  }
  .order__col:first-child::after {
    background-position: -35% 0%;
  }
  .order__col:last-child::after {
    background-position: 13% 0%;
  }
}

@media (max-width: 576px) {
  .order__col::after {
    background-position: -54% 0%;
  }
  .order__col:first-child::after {
    background-position: -23% 0%;
  }
}

@media (max-width: 550px) {
  .order__col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media (max-width: 475px) {
  .order__col::after {
    background-position: 27% 0%;
  }
  .order__col:first-child::after {
    background-position: -22% 0%;
  }
}

@media (max-width: 339px) {
  .order__col {
    width: 100%;
  }
  .order__col::after {
    display: none;
  }
}

.logic {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logic p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.logic__icon {
  position: relative;
  z-index: 1;
  width: 100px;
  height: 100px;
  background: #3E9CDC;
  border: 5px solid #286690;
  border-radius: 50%;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logic__icon img {
  display: block;
  max-width: 38px;
}

.form__row {
  display: grid;
  grid-template-rows: repeat(2, 48px);
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 48px;
  margin-bottom: 55px;
  gap: 30px;
}

@media (max-width: 768px) {
  .form__row {
    grid-template-rows: repeat(3, 48px);
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
  }
}

.form__row_button {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .form__row_button {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 576px) {
  .form__col {
    grid-column: span 2;
  }
}

.form__col_2 {
  grid-column: span 2;
  align-self: end;
}

@media (max-width: 576px) {
  .form__col_2 {
    order: 1;
  }
}

.form__col_button {
  grid-column: 2/3;
}

@media (max-width: 768px) {
  .form__col_button {
    grid-column: 2/4;
  }
}

@media (max-width: 576px) {
  .form__col_button {
    grid-column: 1/5;
  }
}

.form__control, .ui-selectmenu-button.ui-button {
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.85);
  border: 1px solid #FFFFFF;
  border-radius: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #272733;
}

.form__control_file {
  background: #FFFFFF;
  border: 2px solid #3E9CDC;
}

input.form__control::-webkit-input-placeholder {
  color: #272733;
}

input.form__control:-moz-placeholder {
  color: #272733;
}

input.form__control_file::-webkit-input-placeholder {
  text-transform: uppercase;
}

input.form__control_file:-moz-placeholder {
  text-transform: uppercase;
}

.form__button {
  text-transform: uppercase;
  color: #ffffff;
  padding: 17.5px;
  width: 100%;
  max-width: 370px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  align-items: center;
  background: #3E9CDC;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
}

.form__file {
  position: relative;
}

.form__control_file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.input__file-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: 10px;
  background: rgba(255, 255, 255, 0.85);
  border: 2px solid #3E9CDC;
  border-radius: 3px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #272733;
  cursor: pointer;
}

.input__file-button img {
  margin-right: 10px;
  position: relative;
  top: 2px;
}

fieldset {
  border: 0;
}

label {
  display: block;
}

.overflow {
  height: 190px;
}

.ui-selectmenu-button.ui-button:hover,
.ui-selectmenu-button.ui-button:focus,
.ui-selectmenu-button.ui-button:active {
  background: rgba(61, 64, 80, 0.85);
  color: #fff;
  border-color: rgba(61, 64, 80, 0.85);
}

.ui-widget.ui-widget-content {
  border-color: rgba(61, 64, 80, 0.85);
}

.ui-button .ui-icon {
  background-image: url(../images/icons/arrow.svg);
}

.ui-icon-triangle-1-s {
  background-position: 3px 9px;
}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-button:hover .ui-icon,
.ui-button:focus .ui-icon {
  background-image: url(../images/icons/arrow_active.svg);
}

.ui-widget-content {
  border: 1px solid #3D4050;
  background: #272733;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 34px;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #272733;
  background: none;
  font-weight: normal;
  color: #3E9CDC;
}

.ui-menu {
  scrollbar-width: thin;
  scrollbar-color: #3E9CDC #3D4050;
}

/* для Chrome/Edge/Safari */
.ui-menu::-webkit-scrollbar {
  height: 12px;
  width: 9px;
}

.ui-menu::-webkit-scrollbar-track {
  background: #3D4050;
}

.ui-menu::-webkit-scrollbar-thumb {
  background-color: #3E9CDC;
  border-radius: 15px;
  border: 1px solid #3D4050;
}

.form label.form__type {
  display: none;
}

#custom-handle {
  width: 23.72px;
  height: 23.72px;
  top: -10px;
  background: #42A9ED;
  border: 3px solid #286690;
  border-radius: 50%;
}

#slider {
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid #FFFFFF;
  height: 6px;
}

.slider__inf {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.85);
  padding-bottom: 20px;
}

@media (max-width: 475px) {
  .slider__inf {
    flex-direction: column;
    align-items: flex-end;
    font-size: 15px;
    padding-bottom: 10px;
    line-height: 15px;
  }
}

@media (max-width: 475px) {
  .slider__text {
    text-align: left;
    position: relative;
    top: 15px;
    max-width: 270px;
  }
}

.slider__number {
  color: #fff;
  background: none;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  width: 50px;
}

/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
.header {
  position: relative;
  z-index: 1;
  transition: all 0.9s ease;
}

.header::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  z-index: -1;
  background: rgba(16, 16, 29, 0.9);
}

.header.fixed {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header__logo a {
  color: #FFFFFF;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 33px;
  display: flex;
  text-transform: uppercase;
}

.header__logo a span {
  color: #3E9CDC;
}

@media (max-width: 350px) {
  .header__logo a {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .header__menu {
    display: none;
  }
}

.menu {
  display: flex;
}

.menu .menu__item {
  margin-right: 60px;
}

@media (max-width: 992px) {
  .menu .menu__item {
    margin-right: 30px;
  }
}

.menu .menu__item:last-child {
  margin-right: 0px;
}

.menu .menu__item a {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
  text-transform: uppercase;
  color: #FFFFFF;
}

.menu .menu__item a:hover, .menu .menu__item a:focus, .menu .menu__item a:active {
  color: #3E9CDC;
}

.menu .menu__item.menu__item_active > a {
  color: #3E9CDC;
}

.header__mobile-menu {
  display: none;
}

@media (max-width: 768px) {
  .header__mobile-menu {
    display: block;
  }
}

.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
  background: #fff;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::before, .hamburger.is-active .hamburger-inner::after {
  background-color: #fff;
}

.footer {
  background: #3D4050;
}

.footer__row {
  padding: 0 15px;
}

.footer__row_wrap {
  height: 80px;
  padding: 31px 0;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-auto-flow: row;
  margin: 0 -30px;
}

@media (max-width: 1200px) {
  .footer__row_wrap {
    grid-template-columns: auto auto;
    height: auto;
    margin: 0px;
  }
}

@media (max-width: 992px) {
  .footer__row_wrap {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    height: auto;
  }
}

.footer__column {
  padding: 0 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
  border-right: 1px solid #C3C3C3;
}

@media (max-width: 1200px) {
  .footer__column {
    justify-content: center;
  }
}

@media (max-width: 992px) {
  .footer__column {
    grid-column: span 2;
    border: none;
  }
}

.footer__column:first-child {
  justify-content: flex-end;
}

@media (max-width: 1200px) {
  .footer__column:first-child {
    order: 3;
    grid-column: span 3;
    justify-content: center;
    border: none;
    margin-top: 25px;
  }
}

.footer__column:last-child {
  border: none;
  justify-content: flex-start;
}

@media (max-width: 1200px) {
  .footer__column:last-child {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 992px) {
  .footer__column:last-child {
    margin-top: 15px;
  }
}

@media (max-width: 465px) {
  .footer__column p {
    text-align: center;
  }
}

.footer__column p span {
  text-transform: uppercase;
}

.footer__money {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 465px) {
  .footer__money {
    flex-direction: column;
  }
}

.money__item {
  margin-right: 30px;
}

.money__item:last-child {
  margin-right: 0px;
}

@media (max-width: 465px) {
  .money__item {
    margin: 0 0 15px 0;
  }
  .money__item:last-child {
    margin-bottom: 0px;
  }
}

.money__item img {
  display: inline-block;
  margin-right: 10px;
}

.money__item p {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  color: #C3C3C3;
}

.footer__contacts {
  display: flex;
}

@media (max-width: 465px) {
  .footer__contacts {
    flex-direction: column;
  }
}

.contacts__item {
  margin-right: 30px;
}

@media (max-width: 465px) {
  .contacts__item {
    margin: 0 0 15px 0;
  }
  .contacts__item:last-child {
    margin-bottom: 0px;
  }
}

.contacts__item img {
  margin-right: 10px;
}

.contacts__item a {
  color: #FFFFFF;
}

.contacts__item a:hover, .contacts__item a:focus, .contacts__item a:active {
  color: #3E9CDC;
}
